.App {
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.home {
  height: 100vh;
  background: #6190e8;
  background: -webkit-linear-gradient(to right, #a7bfe8, #6190e8);
  background: linear-gradient(to right, #a7bfe8, #6190e8);
  position: relative;
  overflow-y: hidden;
}

.home .bg-light {
  background-color: transparent !important;
  border-bottom: 1px solid #ffffff30;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  transition: all ease 0.4s;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff80;
}

.navbar-light .navbar-brand {
  font-size: 22px;
  font-weight: 700;
}
.navbar-light .navbar-nav .nav-link {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 0 25px;
}

.content {
  color: #fff;
}
.content h6 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.content h1 {
  font-size: 48px;
}
.content a {
  display: inline-block;
  width: 250px;
  height: 60px;
  border: 1px solid #ffffff80;
  text-decoration: none;
  line-height: 58px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-top: 60px;
  transition: all ease 0.4s;
}
.content a:hover {
  background-color: #fff;
  color: #2b2bb0;
}
.content-text {
  padding-top: 140px;
}
.content-img {
  padding-top: 60px;
}

body {
  font-family: Open Sans, sans-serif;
}

.home {
  height: 100vh;
  background-color: #2b2bb0;
  position: relative;
  overflow-y: hidden;
}
.home .bg-light {
  background-color: transparent !important;
  border-bottom: 1px solid #ffffff30;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  transition: all ease 0.4s;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff80;
}

.navbar-light .navbar-brand {
  font-size: 22px;
  font-weight: 700;
}
.navbar-light .navbar-nav .nav-link {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 0 25px;
}

.content {
  color: #fff;
}
.content h6 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.content h1 {
  font-size: 48px;
}
.content a {
  display: inline-block;
  width: 250px;
  height: 60px;
  border: 1px solid #ffffff80;
  text-decoration: none;
  line-height: 58px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-top: 60px;
  transition: all ease 0.4s;
}
.content a:hover {
  background-color: #fff;
  color: #2b2bb0;
}
.content-text {
  padding-top: 140px;
}
.content-img {
  padding-top: 60px;
}

.home:before {
  position: absolute;
  content: "";
  background: url(./wave-img.png) no-repeat;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-size: cover;
  width: 100%;
  height: 100px;
  opacity: 0.2;
  animation: waveone 10s linear infinite;
}

@keyframes waveone {
  0% {
    background-position: 1366px;
  }
  100% {
    background-position: 0;
  }
}

.home:after {
  position: absolute;
  content: "";
  background: url(./wave-img.png) no-repeat;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-size: cover;
  width: 100%;
  height: 57px;
  opacity: 0.2;
  animation: wavetwo 10s linear infinite;
}
@keyframes wavetwo {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1366px;
  }
}

.wave {
  position: absolute;
  content: "";
  background: url(./wave-img.png) no-repeat;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-size: cover;
  width: 100%;
  height: 57px;
  opacity: 0.2;
}
